<!DOCTYPE html>
<html>
  <head>
    <!-- This just includes stuff that should go in head such as title and CSS/JS inclusions -->
    <%- include ../_partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <%- include ../_partials/nav.ejs %>
      <h1>Bookings Summary</h1>
      <p>
        If a user is both a user and a worker, then should have sections for
        both roles.
      </p>
    </div>
  </body>
</html>
