<!DOCTYPE html>
<html>
  <head>
    <!-- This just includes stuff that should go in head such as title and CSS/JS inclusions -->
    <%- include ../_partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <%- include ../_partials/nav.ejs %>
      <h1>Bookings Summary</h1>
      <p>
        This page should include a summary for a particular booking. Basically
        what the current summary page is.
      </p>
    </div>
  </body>
</html>
