<!DOCTYPE html>
<html>
  <head>
    <!-- This just includes stuff that should go in head such as title and CSS/JS inclusions -->
    <%- include ../_partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <%- include ../_partials/nav.ejs %>
      <h1><%= loggedIn.firstname %> <%= loggedIn.lastname %> - Summary</h1>
    </div>
  </body>
</html>
