<!DOCTYPE html>
<html>
  <head>
    <!-- This just includes stuff that should go in head such as title and CSS/JS inclusions -->
    <%- include ../_partials/head.ejs %>
    <script src="/js/registerValidation.js"></script>
  </head>
  <body>
    <div class="container">
      <%- include ../_partials/nav.ejs %>
      <h1>Register Account</h1>
      <form
        action="register"
        method="post"
        onsubmit="return validateSubmit(event.target);"
      >
        <div class="form-row">
          <div class="col form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              name="firstName"
              placeholder="First Name"
              required
            />
          </div>
          <div class="col form-group">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lastName"
              name="lastName"
              placeholder="Last Name"
              required
            />
          </div>
        </div>
        <div class="form-row">
          <div class="col form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Email"
              required
            />
          </div>
          <div class="col form-group">
            <label>Account Type</label><br />
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="userCheck"
                name="userCheck"
                checked
              />
              <label class="form-check-label" for="userCheck">User</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="workerCheck"
                name="workerCheck"
              />
              <label class="form-check-label" for="workerCheck">Worker</label>
              <div class="invalid-feedback">
                &nbsp;&nbsp;&nbsp;&nbsp;You must select at least one account
                type!
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Password"
              required
            />
            <div class="invalid-feedback">
              Make sure you type the same password in both fields!
            </div>
          </div>
          <div class="col form-group">
            <label for="confirm">Password Confirmation</label>
            <input
              type="password"
              class="form-control"
              id="confirm"
              name="confirm"
              placeholder="Confirm Password"
              required
            />
          </div>
        </div>
        <div class="form-row">
          <div class="col form-group">
            <label for="referrer">Referral Email</label>
            <input
              type="email"
              class="form-control"
              id="referrer"
              name="referrer"
              placeholder="Referral Email"
            />
            <small
              >If someone sent you a referral, please write their email
              here</small
            >
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </body>
</html>
