<!DOCTYPE html>
<html>
  <head>
    <!-- This just includes stuff that should go in head such as title and CSS/JS inclusions -->
    <%- include partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <h1>Task Master</h1>
      <% if (loggedIn) {%>
        <div class="btn-group">
          <a href="/logout" class="btn btn-warning">Logout</a>
          <a href="/services" class="btn btn-secondary">Services</a>
          <a href="/bookingForm" class="btn btn-secondary">Booking</a>
        </div>
      <% } else { %>
        <a href="/login" class="btn btn-primary">Login</a>
      <% } %>
    </div>
  </body>
</html>
