<!DOCTYPE html>
<html>
  <head>
    <!-- This just includes stuff that should go in head such as title and CSS/JS inclusions -->
    <%- include partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <% if(loggedIn) { %><%= loggedIn.firstname %> <%= loggedIn.lastname %><% } %> 
      <h1>Task Master</h1>
      <a href="/login" class="btn btn-primary">Login</a>
    </div>
  </body>
</html>
