<!DOCTYPE html>
<html>
  <head>
    <!-- This just includes stuff that should go in head such as title and CSS/JS inclusions -->
    <%- include partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <h1>Search Results</h1>
      <h3>Parameters</h3>
      <p><%= JSON.stringify(params) %></p>
    </div>
  </body>
</html>